// global variables

$base-font-size: 15px;
$dark-blue-primary: #394f63;
$title-light-grey: #cdcfd0;
$title-dark-grey: #babbbc;
$metal-blue: #758e9d;
$primary-blue: #3fa9e2;
$background-grey: #e7e9ec;
