@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: normal;
  src: url(/assets/fonts/Merriweather-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'MerriweatherSans';
  font-style: normal;
  font-weight: normal;
  src: url(/assets/fonts/MerriweatherSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'MerriweatherSans';
  font-style: normal;
  font-weight: bold;
  src: url(/assets/fonts/MerriweatherSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'MerriweatherSans';
  font-style: normal;
  font-weight: 900;
  src: url(/assets/fonts/MerriweatherSans-ExtraBold.ttf) format('truetype');
}
